@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
@font-face {
    font-family: 'next';
    src: url(../fonts/DOCALLISME\ ON\ STREET.ttf);
}
header{
    height: 100vh;
    background-image: url(../imgs/tattoo.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header a{
    font-size: 1.3em;
}
header h2{
    font-family: next;
    font-size: 6em;
}
.titulo{
    animation-name: letter;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: ease-in-out;
}
@keyframes letter{
    0%{
        letter-spacing: 0;
    }
    50%{
        letter-spacing: 0.1em;
    }
    100%{
        letter-spacing: 0;
    }
}
header p{
    opacity: 0.85;
}
nav a{
    position: relative;
    color: rgba(255, 255, 255, 0.427);
    transition: 0.5s;
}
nav a:hover{
    color: #ffffff;
    transition: 0.5s;
}
nav a::after{
    content: '';
    position: absolute;
    width: 0%;
    transition: 0.5s ease-in-out;
    background-color: white;
    height: 2px;
    left: 0;
    bottom: 0;
}
nav a:hover::after{
    width: 100%;
    transition: 0.5s ease-in-out;
}
@media(max-width:992px){
nav a, nav p{
    display: none;
}
}
@media(max-width:574px){
    header h2{
        font-size: 2.5em;
    }
}
@keyframes borda{
    0%{
        border: 0;
    }
    50%{
        border: 0.1em red;
    }
    100%{
        border: 0;
    }
}
.btns{
    background-color: #ffffff;
    position: relative;
    border: none;
    transition: 0.5s ease-in-out;
}
.btns:hover{
    background-color: #c7c7c7;
}
.menu{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 40vw;
    background-image: url(../imgs/mesh-284.png);
    background-image: 10% 10%;
    transition: 0.7s ease-in-out;
    
}
.fechado{
    right: -70%;
}
.aberto{
    right: 0;
}
.desc-art{
    min-height: 70vh;
    border-radius: 10px;
    width: 80%;
    background-color: #29262b;
}
.galeria{
    width: 80%;
}
.galeriaaberta{
    min-height: 50vh;
    display: flex;
    background-color: #29262b;
}
.img-div{
    display: none;
}
.div-select{
    height: 10%;
    padding: 0px 0px !important;
}
.div-select select{
    width: 100%;
    color: white;
    background-color: rgb(25, 25, 25);
    border-radius: 10px 10px 0px 0px;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #616161 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #616161;
    border-radius: 0px;
    border: 3px solid #ffffff;
  }
  @keyframes transition{
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
  .transition{
    animation-name: transition;
    animation-duration: 0.6s;
  }
.div-menu a{
    font-size: 25px;
    padding: 10px;
  }
  @media(max-width:400px){
    .div-menu a{
        font-size: 17px;
      }
  }
  .img-p-1,.img-p-2,.img-p-3{
    width: 200px;
  }
  .titulo-port{
    display: none;
  }